.container {
  min-height: 100vh;
  /* padding: 0 0.5rem; */
  display: grid;
  flex-direction: row;
  grid-template-columns: 16vw 5fr;
  height: 100vh;
}

.logo{
  background-image: url('../public/logo.jpg');
}

.home{
  position: relative;
  background-image: url('../public/LP.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  font-size: 2.3em;
}

.center{
  text-align: center;
}

.aProposText{
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
  line-height: 26px;
}

.aProposText p{
  padding: 5%;
  text-align: justify;
}
.a-propos{
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 3fr 2fr;
  /* padding: 5%;
  font-size: 2.3em; */
}

.aPropos{
  background-color: black;
  color:white;
  width: 100%;
}

.home::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: #C4C4C4;
  opacity: 0.4;
  z-index: 1;
}

.home .text{
  z-index: 2;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar{
  display: grid;
  grid-template-rows: 3fr 2fr;
  background-color: black;
  padding: 0 1vw;
  color: #FFFFFF;
  height: 100vh;
  top:0;
  left:0;
  position: fixed;
  z-index: 1;
  width: 16vw;
}

.sidebar .top{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar img{
  padding: 16px;;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
